<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InterviewManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InterviewManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bootstrap/bootstrap.min.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <!--Icon-->
    <link href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column vh-100">
        <div class="container-fluid d-flex" style="flex-grow: 1">
            <div class="col-1">
                <partial name="Sidebar" model="new SidebarModel()"></partial>
            </div>
            <div class="col-11">
                <main role="main" class="page-content bg-light">
                    <!--Nav bar-->
                    <div>
                        <partial name="Navbar" model="new NavbarModel()"></partial>
                    </div>
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </main>
            </div>
        </div>
        <div>
            <footer>
                <partial name="Footer" model="new FooterModel()"></partial>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#skillsDropdown').select2({
                    placeholder: "Keyword..."
                });
            });
        </script>
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>