@page
@model SidebarModel
@{
}
    <!--Navbar-->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100">
    <a href="/ims.recruitment.com/HomePage" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <img src="~/logo.png" width="70" height="70">
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/ims.recruitment.com/candidate" class="nav-link link-dark" aria-current="page">
                <div class="text-center h5">
                    <i class="uil uil-users-alt" style="font-size: 30px"></i>
                    <div>Candidate</div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/ims.recruitment.com/Jobs" class="nav-link link-dark">
                <div class="text-center h5">
                    <i class="uil uil-bag" style="font-size: 30px" ></i>
                    <div>Job</div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/ims.recruitment.com/Schedules" class="nav-link link-dark">
                <div class="text-center h5">
                    <i class="uil uil-comment" style="font-size: 30px"> </i>
                    <div>Interview</div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/ims.recruitment.com/Offers" class="nav-link link-dark">
                <div class="text-center h5 ">
                    <i class="uil uil-bill" style="font-size: 30px"></i>
                    <div>Offer</div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/ims.recruitment.com/Employee" class="nav-link link-dark">
                <div class="text-center h5">
                    <i class="uil uil-user me-2" style="font-size: 30px"></i>
                    <div>User</div>
                </div>
            </a>
        </li>
    </ul>
</div>
