@page
@model InterviewManagement.Pages.ims.recruitment.com.LogoutModel
@{
}
<form id="logoutForm" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("logoutForm").submit();
    });
</script>
